UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680765;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680769;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680773;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680925;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680929;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1680933;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1683063;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1683065;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1683069;
UPDATE `trading_center`.`biz_balance_user_0` b SET b.`usage_json` = NULL WHERE b.`id` = 1683073;
UPDATE `trading_center`.`biz_balance_user_1` b SET b.`usage_json` = NULL WHERE b.`id` = 1638155;
UPDATE `trading_center`.`biz_balance_user_1` b SET b.`usage_json` = NULL WHERE b.`id` = 1638159;
UPDATE `trading_center`.`biz_balance_user_1` b SET b.`usage_json` = NULL WHERE b.`id` = 1638207;
UPDATE `trading_center`.`biz_balance_user_1` b SET b.`usage_json` = NULL WHERE b.`id` = 1638211;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1686281;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1686285;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1686319;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1686323;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1686327;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1688281;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1688285;
UPDATE `trading_center`.`biz_balance_user_2` b SET b.`usage_json` = NULL WHERE b.`id` = 1688289;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1656365;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1656369;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1658329;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1658333;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1658835;
UPDATE `trading_center`.`biz_balance_user_3` b SET b.`usage_json` = NULL WHERE b.`id` = 1658839;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1676987;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1676991;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1676995;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677497;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677501;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677505;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677903;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677907;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677911;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677913;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677917;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1677921;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1678135;
UPDATE `trading_center`.`biz_balance_user_4` b SET b.`usage_json` = NULL WHERE b.`id` = 1678139;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1622581;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1622585;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1622589;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623003;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623007;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623011;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623015;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623205;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623209;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623213;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623217;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623221;
UPDATE `trading_center`.`biz_balance_user_5` b SET b.`usage_json` = NULL WHERE b.`id` = 1623225;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680563;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680567;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680571;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680579;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680583;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680587;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680895;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1680899;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1681177;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1681181;
UPDATE `trading_center`.`biz_balance_user_6` b SET b.`usage_json` = NULL WHERE b.`id` = 1681185;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624153;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624157;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624161;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624319;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624323;
UPDATE `trading_center`.`biz_balance_user_7` b SET b.`usage_json` = NULL WHERE b.`id` = 1624327;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685041;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685045;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685049;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685399;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685403;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685407;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685627;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1685631;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1687931;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1687935;
UPDATE `trading_center`.`biz_balance_user_8` b SET b.`usage_json` = NULL WHERE b.`id` = 1687939;
UPDATE `trading_center`.`biz_balance_user_9` b SET b.`usage_json` = NULL WHERE b.`id` = 1630687;
UPDATE `trading_center`.`biz_balance_user_9` b SET b.`usage_json` = NULL WHERE b.`id` = 1630691;

